.link-item-container {
    font-family: inherit;
    cursor: pointer;
    font-size: medium;
    transition: background-color var(--quick-transition-duration) var(--primary-curve), color var(--quick-transition-duration) var(--primary-curve);

    min-height: 150px;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;

    color: var(--text-color-disabled);
}

.link-item-container:hover {
    color: var(--text-color);
}

.link-item-container:active {
    color: var(--text-color);
}

.link-item-icon-1 {
    width: 60px;
    height: 60px;
    margin: 1.5em calc(1.5em + 20px);
    filter: invert(1);
}

[data-theme="light"] .link-item-icon-1 {
    filter: invert(0);
}

.link-item-icon-2 {
    width: 100px;
    height: 100px;
    margin: auto 1.5em;
}

.link-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .link-item-container {
        height: 125px;
    }

    .link-item-text h3 {
        font-size: 16px;
    }

    .link-item-text p {
        font-size: 14px;
    }

    .link-item-icon-1 {
        width: 35px;
        height: 35px;
        margin: auto calc(0.5em + 10px);
        filter: invert(1);
    }

    .link-item-icon-2 {
        width: 45px;
        height: 45px;
        margin: auto calc(0.5em + 5px);
    }

    #link-item-button {
        display: none;
    }
}