#my-links-button {
    /* box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1); */
    background-color: rgb(from var(--primary-color) r g b / 50%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 1em;
    padding: 1em 2em;
    letter-spacing: .05em
}

#my-links-button:hover {
    background-color: rgb(from var(--accent-color) r g b / 25%);
    border-color: #d3f4ff6c;
    color: #d3f4ff;
}

#my-links-button:active {
    background-color: rgb(from var(--accent-color) r g b / 50%);
    border-color: rgb(from var(--accent-color) r g b / 50%);
}

[data-theme='light'] #my-links-button:hover {
    background-color: rgb(from var(--accent-color) r g b / 25%);
    color: #337d92;
    border-color: #5fb3ca;
}

[data-theme='light'] #my-links-button:active {
    background-color: rgb(from var(--accent-color) r g b / 50%);
    color: #408ca1;
    border-color: var(--accent-color);
}