#login-drawer::after {
    background-color: transparent;
}

#login-drawer {
    width: 410px;
    height: 500px;
}

#login-drawer-content {
    border-radius: 2em;
    height: auto;
    transition: all 0.2s var(--quadratic-curve);
}

#open-login-drawer-button {
    padding: 0.85em 1.5em 0.85em 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 1em;
    font-family: 'Kaushan Script', cursive;
    font-size: large;
}

.login-drawer-page-active {
    transform: translateY(0%) scale(1) !important;
    opacity: 1 !important;
}

.login-drawer-page {
    transform: translateY(-15%) scale(0.9);
    opacity: 0;
    transition: transform 0.2s var(--quadratic-curve), opacity 0.1s var(--quadratic-curve);
}

@media screen and (max-width: 480px) {
    #login-drawer {
        width: 100%;
        height: 100%;
    }

    #login-drawer-content {
        border-radius: 0px;
    }
}